<div class="container py-4">
  <h1 text-center mb-4>Assignment Management System</h1>

  <app-assignment-list
    *ngIf="currentView === 'list'"
    [assignments]="assignments"
    (viewDetails)="showDetails($event)"
    (viewUpdate)="showUpdate($event)"
    (delete)="deleteAssignment($event)"
    (addNew)="showAdd()">
  </app-assignment-list>

  <app-assignment-add
  *ngIf="currentView === 'add' "
  (assignmentAdded)="onAssignmentAdded($event)"
  (cancel)="showList()">
  </app-assignment-add>

  <app-assignment-details
  *ngIf="currentView === 'details'"
  [assignment]="selectedAssignment"
  (back)="showList()" >
  </app-assignment-details>

  <app-assignment-update
  *ngIf="currentView === 'update'"
  [assignment]="selectedAssignment"
  (assignmentUpdated)="onAssignmentUpdated($event)"
  (cancel)="showList()">
  </app-assignment-update>
</div>


