<h2>Update Assignment</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
   <div>
      <label>Title:</label>
      <input type="text" formControlName="title"  required/>
   </div>
   <div>
      <label>Description:</label>
      <textarea formControlName="description" rows="3"></textarea>
   </div>

   <div>
      <label>Due Date:</label>
      <input type="date" formControlName="dueDate" required />
   </div>

   <div>
      <label>Status:</label>
      <select formControlName="status">
         <option value="Pending">Pending</option>
         <option value="In Progress">In Progress</option>
         <option value="Completed">Completed</option>
      </select>
   </div>

   <div>
      <label>Priority:</label>
      <select formControlName="priority">
         <option value="Low">Low</option>
         <option value="Medium">Medium</option>
         <option value="High">High</option>
      </select>
   </div> 
   <button type="submit" [disabled]="form.invalid">Update Assignment</button>
   <button type="button" (click)="onCancel()">Cancel</button>
</form>